<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" bootstrap="vendor/autoload.php" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="false"/>
  <testsuites>
    <testsuite name="resource">
      <directory>tests/Resource</directory>
    </testsuite>
    <testsuite name="entity">
      <directory>tests/Entity</directory>
    </testsuite>
    <testsuite name="example">
      <directory>tests/Example</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="hypermedia">
      <directory>tests/Hypermedia</directory>
    </testsuite>
    <testsuite name="smoke">
      <directory>tests/Smoke</directory>
    </testsuite>
    <testsuite name="validation">
      <directory>tests/Validation</directory>
    </testsuite>
    <testsuite name="interceptor">
      <directory>tests/Interceptor</directory>
    </testsuite>
    <testsuite name="provide">
      <directory>tests/Provide</directory>
    </testsuite>
    <testsuite name="service">
      <directory>tests/Service</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/Bootstrap.php</file>
    </exclude>
  </source>
</phpunit>
